<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BurntSushi" Language="1033" Version="0.1.0" Manufacturer="OpenByte" UpgradeCode="5974f073-e8d0-4c72-a6b2-dcf7affa8e11">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade AllowDowngrades="yes" AllowSameVersionUpgrades="no" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Feature Id="ProductFeature" Title="Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <UI Id="WixUI_InstallDir">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">
        Installed
        AND PATCH
      </Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>
    <UIRef Id="WixUI_Common" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch BurntSushi" />
    <Property Id="WixShellExecTarget" Value="[#BurntSushi.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Icon Id="icon.ico" SourceFile="..\Icon\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Product>
  
    <Fragment>
      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFilesFolder">
          <Directory Id="ManufacturerFolder" Name="OpenByte">
            <Directory Id="INSTALLFOLDER" Name="BurntSushi" />
          </Directory>
        </Directory>
      </Directory>
    </Fragment>

    <Fragment>
      <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        
        <Component Id="EasyHook32.dll" Guid="0a26c21c-7c22-4aaf-b820-c243b2b8942b">
          <File Id="EasyHook32.dll" Name="EasyHook32.dll" Source="$(var.BurntSushi.TargetDir)EasyHook32.dll" />
        </Component>
        <Component Id="System.Numerics.Vectors.dll" Guid="24f88eec-ad64-4285-8e15-970e3ce42155">
          <File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.BurntSushi.TargetDir)System.Numerics.Vectors.dll" />
        </Component>
        <Component Id="WildcardMatch.dll" Guid="44755bcf-af59-4f00-8b2f-ec17007aa667">
          <File Id="WildcardMatch.dll" Name="WildcardMatch.dll" Source="$(var.BurntSushi.TargetDir)WildcardMatch.dll" />
        </Component>
        <Component Id="Serilog.Sinks.PersistentFile.dll" Guid="fd7257c0-d389-4f84-8da7-01736783e817">
          <File Id="Serilog.Sinks.PersistentFile.dll" Name="Serilog.Sinks.PersistentFile.dll" Source="$(var.BurntSushi.TargetDir)Serilog.Sinks.PersistentFile.dll" />
        </Component>
        <Component Id="Serilog.Sinks.Console.dll" Guid="3c9e7a1b-5bbb-4f5d-840f-747cda7078e3">
          <File Id="Serilog.Sinks.Console.dll" Name="Serilog.Sinks.Console.dll" Source="$(var.BurntSushi.TargetDir)Serilog.Sinks.Console.dll" />
        </Component>
        <Component Id="EasyHook.dll" Guid="1eae57ca-ff5f-4643-b003-3e150aecdc59">
          <File Id="EasyHook.dll" Name="EasyHook.dll" Source="$(var.BurntSushi.TargetDir)EasyHook.dll" />
        </Component>
        <Component Id="System.Memory.dll" Guid="462f8185-6c32-4871-9b30-dd29efef7090">
          <File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.BurntSushi.TargetDir)System.Memory.dll" />
        </Component>
        <Component Id="WinEventHook.dll" Guid="4674ee5a-6233-4e73-886d-06a0876af2c9">
          <File Id="WinEventHook.dll" Name="WinEventHook.dll" Source="$(var.BurntSushi.TargetDir)WinEventHook.dll" />
        </Component>
        <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="f633afd1-fe2d-4c0a-ad21-6d04d9d798b0">
          <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.BurntSushi.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
        </Component>
        <Component Id="Serilog.dll" Guid="5f028176-fb69-48eb-92a5-eb854e5d218c">
          <File Id="Serilog.dll" Name="Serilog.dll" Source="$(var.BurntSushi.TargetDir)Serilog.dll" />
        </Component>
        <Component Id="BurntSushi.exe" Guid="d5da2681-97c8-4405-b8cc-79944686b088">
          <File Id="BurntSushi.exe" Name="BurntSushi.exe" Source="$(var.BurntSushi.TargetDir)BurntSushi.exe" />
        </Component>
        <Component Id="BurntSushi.Shared.dll" Guid="816ab305-0b4c-49b4-899c-116b7901769c">
          <File Id="BurntSushi.Shared.dll" Name="BurntSushi.Shared.dll" Source="$(var.BurntSushi.Shared.TargetDir)BurntSushi.Shared.dll" />
        </Component>
        <Component Id="Interop.dll" Guid="8ae46122-25f5-4bf7-884f-d50d78753377">
          <File Id="Interop.dll" Name="Interop.dll" Source="$(var.Interop.TargetDir)Interop.dll" />
        </Component>
        
        
        <Component Id="EasyHook64.dll" Guid="1545009b-c2b4-4c09-95e2-6e59600436d7">
          <File Id="EasyHook64.dll" Name="EasyHook64.dll" Source="$(var.BurntSushi.TargetDir)EasyHook64.dll" />
        </Component>
        <Component Id="EasyHook32Svc.exe" Guid="89841dc8-6523-46df-b3be-d2859cfc8b89">
          <File Id="EasyHook32Svc.exe" Name="EasyHook32Svc.exe" Source="$(var.BurntSushi.TargetDir)EasyHook32Svc.exe" />
        </Component>
        <Component Id="EasyHook64Svc.exe" Guid="48f583a0-0f88-4e1a-a090-ccaaf4734337">
          <File Id="EasyHook64Svc.exe" Name="EasyHook64Svc.exe" Source="$(var.BurntSushi.TargetDir)EasyHook64Svc.exe" />
        </Component>
        <Component Id="EasyLoad32.dll" Guid="1dc4cc4f-a1df-438f-b801-805a1da1629e">
          <File Id="EasyLoad32.dll" Name="EasyLoad32.dll" Source="$(var.BurntSushi.TargetDir)EasyLoad32.dll" />
        </Component>
        <Component Id="EasyLoad64.dll" Guid="3cea4cd9-0540-4b4c-9c9d-ad34dca9ed84">
          <File Id="EasyLoad64.dll" Name="EasyLoad64.dll" Source="$(var.BurntSushi.TargetDir)EasyLoad64.dll" />
        </Component>
        <Component Id="System.Buffers.dll" Guid="229a2f9e-06d8-4fdf-b313-2f1ad5e12640">
          <File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.BurntSushi.TargetDir)System.Buffers.dll" />
        </Component>
        <Component Id="InjectionPayload.dll" Guid="27d1c312-e88b-43e0-988c-096c6281a939">
          <File Id="InjectionPayload.dll" Name="InjectionPayload.dll" Source="$(var.InjectionPayload.TargetDir)InjectionPayload.dll" />
        </Component>
        
        <Component Id="BurntSushi.exe.config" Guid="a583ef2c-bcbd-4660-b0d1-f4c308c72c41">
          <File Id="BurntSushi.exe.config" Name="BurntSushi.exe.config" Source="$(var.BurntSushi.TargetDir)BurntSushi.exe.config" />
        </Component>
        
      </ComponentGroup>
    </Fragment>
</Wix>
